:root{
    --fuente: Georgia, 'Times New Roman', Times, serif;
    --colorTitulos: #eeeeee;
    --colorHeaderFoter: #00adb5;
}

*{
    padding: 0;
    margin : 0;
}

header{
    background-color: var(--colorHeaderFoter);
    color: var(--colorTitulos);
    text-align: center;
    padding-bottom: 20px;
}


body {
    background-color:#222831;
}

h1{
    color: var(--colorTitulos);
    font-family: var(--fuente);
    font-size:150%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

li{
    color:blanchedalmond;
    list-style-type:none;
    display: inline-block;
    padding: 15px;
}

.piedepagina{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--colorHeaderFoter);
    text-align: center;
    font-size:18px;
}

.piedepagina > ul > li > a{
    color: #222831;
}

.menu{
    padding-top: 20px;
    font-family: var(--fuente);
    font-size: 25px;
    font-weight: bold;
}

.menu > li > a{
    color: #222831;
}

.contenedor{
    padding-bottom: 20px;
    font-family: var(--fuente);
    text-align: center;
    font-size: 20px;
}

.contenedor > div{
    padding-top: 20px;
}

.p{
    width: 700px;
    font-size: 30px;
    margin: 0 auto;
}

img{
    width: 20%;
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

img.izquierda{
    float:left;
}

img.derecha{
    float:right;
}

.icono{
    font-size: 35px;
}

